<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusquedaNombre"
        placeholder="Ingresar un criterio de busqueda NOMBRE...">
    <br>
    <input type="text" class="form-control" v-model="criterioDeBusquedaDni"
        placeholder="Ingresar un criterio de busqueda DNI...">
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{getDni(persona)}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusquedaNombre: '',
            criterioDeBusquedaDni: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas:
                [
                    { nombre: 'Daniel', apellido: 'Sánchez', dni: 20442873, correo: 'danielsanchez68@hotmail.com' },
                    //Agregar aquí nombre, apellido, dni y correo
                    { nombre: 'Ezequiel', apellido: 'Laboranti', dni: 33032717, correo: 'ezelaboranti@hotmail.com' },
                    { nombre: 'Santiago', apellido: 'Castro', dni: 33537569, correo: 'santucastro@live.com.ar' },
                    { nombre: 'Tomas', apellido: 'Melendez', dni: 39847671, correo: 'tomas6melendez@gmail.com' },
                    { nombre: 'Rodrigo', apellido: 'Iglesias', dni: 29004601, correo: 'rniglesias@gmail.com' },
                    { nombre: 'Gonzalo', apellido: 'Garcia Tunon', dni: 38708301, correo: 'garciatunong@gmail.com' },
                    { nombre: 'Eugenio', apellido: 'Sainte Marie', dni: 38707149, correo: 'eugenio.saintemarie@gmail.com' },
                    { nombre: 'Clara', apellido: 'Franzoni', dni: 36626020, correo: 'franzoniclara23@gmail.com' },
                    { nombre: 'x', apellido: 'y', dni: 0, correo: 'x@y' },
                    { nombre: 'Richard', apellido: 'Valdez', dni: 93601193, correo: 'rvaldez.valdez@gmail.com' }
                ]
        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroNombre = `${persona.nombre}${persona.apellido}`
                    let registroDni = `${persona.dni}`
                    return registroNombre.toLowerCase().includes(this.criterioDeBusquedaNombre.toLowerCase()) && registroDni.toLowerCase().includes(this.criterioDeBusquedaDni.toLowerCase())
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },
            getDni(persona) {
                return `${persona.dni}`
            }
        }
    });
</script>